{% extends "base.html" %}

{% block content %}

<h1>Login </h1>

<form method="post">
    {% csrf_token %} 

    <div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  name="username">
        
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password">

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

    </div>
    <p class="mt-3">Don't have an account? <a href="/register" class="text-primary">Create a new account</a></p>
    <a href="/register" class="btn btn-primary">Register</a>
</form>


<script>
    {% if messages %}
        // Loop through all messages and display them in an alert
        {% for message in messages %}
            alert("{{ message }}");  // This will create a popup alert
        {% endfor %}
    {% endif %}
</script>

{% endblock %}
